section.signin {
	min-height: 100vh;
}

:is(.content-left, .content-right) {
	flex: 0 0 50%;
}

.signin__title {
	font-size: calc(var(--headerSize) * 1.8);
	word-wrap: break-word;
	text-align: left;
	color: var(--white);
	padding: 1rem 3rem 1rem 0.7rem;
	display: inline-block;
	-webkit-backdrop-filter: blur(10px) brightness(90%);
	backdrop-filter: blur(10px) brightness(80%);
	align-self: flex-start;
}

.overlay {
	background-image: url("http://hoomz.local/wp-content/uploads/2022/02/pexels-yura-forrat-10161100-scaled.jpg");
	background-position: left;
	background-size: 50% 100%;
	height: 100vh;
	background-repeat: no-repeat;
}

.flex-container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.content-left {
	display: grid;
	padding-top: 8rem;
}

.content-right {
	display: flex;
	padding-top: 10rem;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.form__signup {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	width: 80%;
	min-height: 40rem;
}
.form__signup__group {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	margin: 1.6rem 0;
	gap: 10px;
}
.form__signup__group :is(input:not([type="checkbox"]), label, button, a) {
	width: 100%;
}
.form__signup__group:last-of-type {
	margin-top: 3rem;
}
input[type="checkbox"] {
	cursor: pointer;
}
.form__signup__group :is(label, button, .reset_password),
.form__inline {
	font-size: var(--textSizelarger);
	text-transform: capitalize;
}

.signup_form_input {
	padding: 1.2rem;
	border: 1px solid #ccc;
	font-size: var(--textSize);
	font-family: inherit;
}
.signup_form_input::-webkit-input-placeholder {
	font-size: var(--textSize);
	text-transform: capitalize;
}
.signup_form_input::-moz-placeholder {
	font-size: var(--textSize);
	text-transform: capitalize;
}
.signup_form_input:-ms-input-placeholder {
	font-size: var(--textSize);
	text-transform: capitalize;
}
.signup_form_input::-ms-input-placeholder {
	font-size: var(--textSize);
	text-transform: capitalize;
}
.signup_form_input::placeholder {
	font-size: var(--textSize);
	text-transform: capitalize;
}

.signup__title {
	font-size: var(--headerSize);
}

.form__inline {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
}

.reset_password {
	text-align: center;
}
button.btn--signin {
	padding: 1.4rem 3rem;
	background-color: var(--primaryColorLighter);
	color: var(--white);
	border: none;
	transition: all 0.2s linear;
}
button.btn--signin:hover {
	transform: scale(1.05);
}
.no-account-text {
	text-align: center;
	color: var(--textColorLight);
	font-size: var(--textSize);
}

@media only screen and (max-width: 57em) {
	section.signin {
		min-height: 110vh;
	}
	.overlay {
		height: 110vh;
	}
}
