.divider {
	margin: 3rem 0;
	border-top: 1px solid #ccc;
}

.mb-s {
	margin-bottom: 1rem;
}
.my-m {
	margin: 2rem 0;
}
.mt-sm {
	margin-top: 1rem;
}

.highlight-blue {
	color: rgb(3, 194, 187);
}

.error {
	color: red;
	font-size: 1.2rem;
}
